@import "components/video.css";
@import "components/video-controls.css";

:root {
  --bg-color: #333;
  --border-color: #666;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
}

