.video-controls {
  width: 100%;
  height: 60px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  display: grid;
  grid-template-columns: 200px 200px 200px auto 50px;
  grid-column-gap: 20px;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.video-controls__exit-fullscreen {
  grid-column: 5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url("../assets/exit.svg") center no-repeat;
  background-size: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.video-controls__exit-fullscreen:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.video-controls__brightness,
.video-controls__contrast {
  width: 100%;
  height: 100%;
  padding: 0 5px 0 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.video-controls__brightness input[type=range],
.video-controls__contrast input[type=range] {
  width: 100%;
}

.video-controls__brightness {
  grid-column: 1;
  background: url("../assets/brightness.svg") 15px center no-repeat;
  background-size: 20px;
}

.video-controls__contrast {
  grid-column: 2;
  background: url("../assets/contrast.svg") 15px center no-repeat;
  background-size: 20px;
}

.video-controls__volume-visualizer {
  width: 100%;
  padding: 0 5px 0 50px;
  box-sizing: border-box;
  background: url("../assets/volume.svg") 15px center no-repeat;
  background-size: 20px;
}

.video-controls__volume-container {
  height: 25px;
  border: 1px solid #fff;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.video-controls__volume-level {
  height: 100%;
  background-color: #fff;
  position: absolute;
}
